@import "tailwindcss";

:root {
  --background: #fcfcfc;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-cabin);
  --font-heading: var(--font-epilogue);

  --container-8xl: 1440px;

  --color-primary: #72E3AD;
  --color-brand-secondary: #3A5BA0;
  --color-brand-secondary-hover: #2c457f;

  --shadow-header: 0px 2px 4px 3px #00000008;
  --color-border: #F1F5F9;
  --color-azulao: #3A5BA0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-sans);
  background: var(--background);
  color: var(--foreground);
}

.text-wrap-balance {
  text-wrap: balance;
}